@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: #f7f7f7;
  background-image: radial-gradient(#ededed 2px, transparent 1px);
  background-size: 16px 16px;
}
